BDD/billboard/
BDD/gtfs_tag/
BDD/*.zip
dataviz/data_viz_2/*.csv
dataviz/data_viz_2_projekt/DataViz2--project/*.csv
dataviz/data_viz_3/*.pkl
ml/ml1/*.csv
ml/ml1/*.pkl
ml/ml2/ml_2_2/*.csv
ml/ml2/ml_2_3/*.csv
ml/ml2/ml_2_3/*.pkl
ml/ml3/*.csv
ml/ml4/*.csv
ml/ml5/*.csv
ml/ml5/j3/butterflies/test/
ml/ml5/j3/butterflies/train/
ml/ml5/j3/butterflies/*.csv
stat/data_rte/
stat/*.pkl
stat/stat_test_hypotese/*.txt
stat/stat_test_hypotese/*.wav

